<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href={{ "assets/css/styles.css" | relative_url }}>
  </head>

  <body>
    <div class="title-area">
      <img src={{"assets/images/logo.png" | relative_url }} class="logo">
      <h1 class="title"> {{ page.title }} </h1>
      <p class="sub-title"> {{ page.description }} </p>
    </div>
      {% include navigation.html%}
      {{ content }}
    <footer>
      <p>Footer Text</p>
    </footer>
  </body>
</html>