---
layout: default
---


<section class="last-post">
  <h2>Most Recent Post:</h2>
    {% for post in site.posts limit:1 %}
    <div class="blog-post">
      <a class="blog__title" href="{{post.url }}">{{ post.title }} - {{post.date | date_to_string: "ordinal", "US" }}</a></h2>
      <p>
        {% if post.snip  == 'excerpt' %} 
          {{post.excerpt}}
        {% else %}
          {{post.snip}}
        {% endif %}
      </p>
    </div>
    {% endfor %}
</section>

<section class="older-posts">
  <h2>Older Posts</h2>
    {% for post in site.posts offset:1 limit:3 %}
    <div class="blog-post">
      <a class="blog__title" href="{{ post.url }}">{{ post.title }} - {{post.date | date_to_string: "ordinal", "US" }}</a></h2>
      <p>
        {% if post.snip  == 'excerpt' %} 
          {{post.excerpt}}
        {% else %}
          {{post.snip}}
        {% endif %}
      </p>
      <a class="blog__link" href="{{ post.url }}">Read More</a>
    </div>
    {% endfor %}
</section>