---

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href={{ "assets/css/styles.css" | relative_url }}>
    <link rel="shortcut icon" type="image/png" href="/favicon.png">
  </head>

  <body>
    <article>
      <div class="title-area">
        <img src={{"assets/images/logo.png" | relative_url }} class="logo">
        <h1 class="title"> {{ page.title }} </h1>
        <p class="sub-title"> {{ page.date | date_to_string: "ordinal", "US" }} </p> 
      </div>
      <div class="content">{{ content }}
        {% if page.attachments %}
        <h2><u>Attachments:</u></h2><br>
          {% assign attachments = page.attachments | split: "; " %}
          {% for attachment in attachments %}
            <a class="attachment_link" href="/assets/docs/{{page.attachment_path}}{{ attachment }}" target="_blank">{{attachment}}</a><br>
          {% endfor %}
        {% endif %}
    </div>
      <footer>
        <p>
          <a href="/"> Home</a>
        </p>
      </footer>
    </article>
  </body>
</html>

